/* `#000000`, `#14213D`, `#FCA311`, `#E5E5E5`, `#FFFFFF` */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #14213D;
  width: 100%
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #14213D;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #14213D;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #000000;
}
